.titulo {
    margin-bottom: 50px;
}

    .titulo h1 {
        font-weight: bold;
    }

.titulo-weplot {
    color: #9d2b86;
}


.container-full-height {
    height: 90vh;
}

.container {
    justify-content: center;
    max-width: 100%;
    background-color: #F2F2F2;
}

.nav-registro {
    color: #9d2b86;
    text-decoration: none;
}

.btn-iniciar {
    background-color: #9d2b86;
    width: 150px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}