@model RegistroPreguntas

<link href="~/css/StyleRegistro.css" rel="stylesheet" />

<div class="container-fluid container-full-height d-flex flex-column">

    <div class="row flex-fill row-cols-2 ">
        <div class="col-5" style="background-color: #efefed; display: flex; justify-content: center; align-items: center; overflow: hidden;">
            <img src="~/img/img_registro.png" alt="imagen abstracta" style="width: 70%; height: auto; object-fit: cover;" />
        </div>
        <div class="col-7 d-flex justify-content-center align-items-center" style="background-color: #ffffff; height: 120vh; ">
            <form id="registroForm" asp-action="Registro" asp-controller="Registro" method="post" class="formulario" enctype="multipart/form-data">
                <div class="d-flex align-items-baseline titulo">
                    <h1 class="me-2 mb-0">Regístrate a</h1>
                    <h1 class="mb-0 titulo-weplot">WePlot</h1>
                </div>
                <div class="form-group d-flex flex-wrap">
                    @* Nombre y Apellido  *@
                    <div class="me-2 flex-grow-1">
                        <button class="button btn-google" type="button">
                            <img src="~/img/google_logo.png" alt="Google Logo" class="google-logo">
                            <span style="color: #C0392B;">Registro con Google</span>
                        </button>
                    </div>
                    <div class="flex-grow-1">
                        
                        <button class="button btn-face" type="button">
                            <img src="~/img/facebook_logo.png" alt="Facebook Logo" class="face-logo">
                            <span style="color: #3464e9">Registro con Facebook</span>
                        </button>
                    </div>
                </div>
                <div class="form-group d-flex flex-wrap">
                    <span>@ViewBag.CorreoExistente</span>

                    @* Nombre y Apellido  *@
                    <div class="me-2 flex-grow-1">
                        <label for="nombre">Nombre*</label>
                        <input name="registro.nombre" class="form-control" />
                        <span id="registro.nombre-error" class="error-message"></span>
                    </div>
                    <div class="flex-grow-1">
                        <label for="apellido">Apellido</label>
                        <input name="registro.apellido" class="form-control" />
                    </div>
                </div>

                @* Email y Teléfono  *@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="email">Email*</label>
                        <input name="registro.email" class="form-control" />
                        <span id="registro.email-error" class="error-message"></span>
                    </div>
                    <div class="me-2 mt-2" style="flex: 0 0 40px;">
                        <label for="codigo_pais">Identificador*</label>
                        <input name="registro.codigo_pais" class="form-control" placeholder="+00" oninput="soloNumero(this)" />
                        <span id="registro.codigo_pais-error" class="error-message"></span>
                    </div>
                    <div class="flex-grow-1 mt-2" style="flex: 0 0 105px;">
                        <label for="telefono">Teléfono*</label>
                        <input name="registro.telefono" class="form-control" oninput="soloNumero(this)" />
                        <span id="registro.telefono-error" class="error-message"></span>
                    </div>
                </div>

                @* País   *@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="pais">País</label>
                        <input name="registro.pais" class="form-control" />
                    </div>
                </div>


                @* Comida favorita y Artista Favorito (traigo las primeras dos preguntas)  *@
                <div class="form-group d-flex flex-wrap">
                    @for (int i = 0; i < 2; i++)
                    {
                        var pregunta = Model?.Preguntas[i]?.Pregunta;

                        <div class="me-2 flex-grow-1 mt-2">
                            <label for="pregunta_@i">@pregunta?.descripcion</label>
                            <input value="@pregunta?.descripcion" name="registro.respuestas[@i].pregunta" hidden="hidden" class="form-control" />
                            <input name="registro.respuestas[@i].respuesta" class="form-control" />
                            <input value="@pregunta?.pkid" name="registro.respuestas[@i].preguntaId" hidden="hidden" class="form-control" />
                        </div>
                    }
                </div>

                @* Color Favorito y Lugar favorito (y las últimas dos preguntas) *@
                <div class="form-group d-flex flex-wrap">
                    @for (int i = 2; i < 4; i++)
                    {
                        var pregunta = Model?.Preguntas[i].Pregunta;

                        <div class="me-2 flex-grow-1 mt-2">
                            <label for="pregunta_@i">@pregunta?.descripcion</label>
                            <input value="@pregunta?.descripcion" name="registro.respuestas[@i].pregunta" hidden="hidden" class="form-control" />
                            <input name="registro.respuestas[@i].respuesta" class="form-control" />
                            <input value="@pregunta?.pkid" name="registro.respuestas[@i].preguntaId" hidden="hidden" class="form-control" />
                        </div>
                    }
                </div>

                @* Confirmar Contraseña y contraseña*@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="contrasena">Contraseña*</label>
                        <input name="registro.contrasena" class="form-control" type="password" />
                        <span id="registro.contrasena-error" class="error-message"></span>
                    </div>
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="confirmar_contrasena">Confirmar Contraseña*</label>
                        <input name="confirmar_contrasena" class="form-control" type="password" />
                        <span id="confirmar_contrasena-error" class="error-message"></span>
                    </div>
                </div>

                @* Adjuntar imagen  *@

                <div class="form-group d-flex align-items-center mt-5 mb-5">
                    <div onclick="document.getElementById('imagen').click();" class="d-flex align-items-center" style="cursor: pointer;">
                        <div class="me-2 subir-imagen">
                            <img id="output" src="~/img/perfil.png" class="perfil" alt="Imagen del perfil">
                        </div>
                        <div class="ms-2" style="cursor: pointer;">
                            <label for="foto_perfil" style="cursor: pointer;">Foto de perfil</label>
                        </div>

                    </div>
                </div>
                <input type="file" class="form-control" name="registro.imagenFile" id="imagen" accept="image/*" capture="environment" style="display: none;" onchange="previewImage(event)">
                <button type="submit" class="btn-unirme">Unirme a Weplot</button>
                <div class="form-group d-flex align-items-center mt-4">
                    <label class="mb-0">¿Ya tienes cuenta?</label>
                    <a class="nav-login p-2" asp-area="" asp-controller="Login" asp-action="Login">Inicia sesión aquí</a>
                </div>

            </form>
        </div>

    </div>
</div>
<script src="~/js/script_registro.js"></script>
