@model RegistroPreguntas 

<link href="~/css/StyleRegistro.css" rel="stylesheet" />

<div class="container-fluid container-full-height d-flex flex-column">

    <div class="row flex-fill row-cols-2 ">
        <div class="col-5" style="background-color: #efefed; display: flex; justify-content: center; align-items: center; overflow: hidden;">
            <img src="~/img/img_registro.png" alt="imagen abstracta" style="width: 70%; height: auto; object-fit: cover;" />
        </div>
        <div class="col-7" style="background-color: #ffffff; ">
            <form asp-action="Login" asp-controller="Login" method="post" class="formulario" enctype="multipart/form-data">
                <div class="form-group d-flex flex-wrap">
                    @* Nombre y Apellido  *@
                    <div class="me-2 flex-grow-1">
                        <label for="nombre">Nombre*</label>
                        <input name="nombre" class="form-control" />
                    </div>
                    <div class="flex-grow-1">
                        <label for="apellido">Apellido</label>
                        <input name="apellido" class="form-control" />
                    </div>
                </div>

                @* Email y Teléfono  *@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="email">Email</label>
                        <input name="email" class="form-control" />
                    </div>
                    <div class="me-2 mt-2" style="flex: 0 0 40px;">
                        <label for="codigo_pais">Identificador</label>
                        <input name="codigo_pais" class="form-control" placeholder="+00" oninput="soloNumero(this)" />
                    </div>
                    <div class="flex-grow-1 mt-2" style="flex: 0 0 105px;">
                        <label for="telefono">Teléfono</label>
                        <input name="telefono" class="form-control" oninput="soloNumero(this)" />
                    </div>
                </div>

                @* País   *@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="pais">País</label>
                        <input name="pais" class="form-control" />
                    </div>
                </div>


                @* Comida favorita y Artista Favorito  *@
                <div class="form-group d-flex flex-wrap">

                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="pregunta_1"> Model.Preguntas.  </label>
                        <input name="comida_favorita" class="form-control" />
                    </div>


                    <div class="flex-grow-1 mt-2">
                        <label for="pregunta_2">Artista Favorito</label>
                        <input name="artista_favorito" class="form-control" />
                    </div>
                </div>

                @* Color Favorito y Lugar favorito *@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="pregunta_3">Lugar Favorito</label>
                        <input name="lugar_favorito" class="form-control" />
                    </div>

                    <div class="flex-grow-1 mt-2">
                        <label for="pregunta_4">Color Favorito</label>
                        <input name="color_favorito" class="form-control" />
                    </div>
                </div>
                @* Confirmar Contraseña y contraseña*@
                <div class="form-group d-flex flex-wrap">
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="contrasena">Contraseña</label>
                        <input name="contrasena" class="form-control" type="password" />
                    </div>
                    <div class="me-2 flex-grow-1 mt-2">
                        <label for="confirmar_contrasena">Confirmar Contraseña</label>
                        <input name="confirmar_contrasena" class="form-control" type="password" />
                    </div>
                </div>

                @* Adjuntar imagen  *@

                <div class="form-group d-flex align-items-center">
                    <div onclick="document.getElementById('imagen').click();" class="d-flex align-items-center">
                        <div class="me-2 subir-imagen">
                            <img id="output" src="~/img/perfil.png" class="perfil" alt="Imagen del producto" style="cursor: pointer;">
                        </div>
                        <div class="ms-2">
                            <label for="foto_perfil">Foto de perfil</label>
                        </div>
                        
                    </div>
                </div>
                <input type="file" class="form-control" name="producto.imagenFile" id="imagen" accept="image/*" capture="environment" style="display: none;" onchange="previewImage(event)">



                <button type="submit" class="btn btn-primary">Unirme a Weplot</button>
            </form>
        </div>

    </div>
</div>


<script>
    function soloNumero(input) {
        // Elimina todos los caracteres que no sean números
        input.value = input.value.replace(/[^0-9]/g, '');
    }
</script>