<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh; text-align: center;">
    <h1 class="mb-4" style="color: #9d2b86;">No cuentas con el Rol adecuado para ingresar a este panel</h1>

    <a class="btn btn-primary" style="background-color:#9d2b86; border:none;" asp-area="" asp-controller="Login" asp-action="Login">Ir a inicio de sesión</a>
</div>
