@model Login


<form asp-action="Login" asp-controller="Login" method="post">
    <div class="form-group">
        <label for="username">Correo</label>
        <input name="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input name="contrasena"  type="password" class="form-control" />
    </div>
    <p>@ViewBag.Mensaje</p>
   
    <button type="submit" class="btn btn-primary">Login</button>
</form>

